@tailwind base;
@tailwind components;
@tailwind utilities;

.greenCircle{
    animation: greenCircle 8s linear 0s infinite reverse ;
}
@keyframes greenCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.blueCircle{
    animation: blueCircle 8s linear 0s infinite reverse ;
}
@keyframes blueCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.imageAnimation{
    animation: Aniket 8s linear 0s infinite reverse ;
}
@keyframes Aniket {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

